# Database connection
spring.datasource.driver-class-name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

# JPA properties
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false

# Hibernate additional native properties to set on the JPA provider
spring.jpa.properties.hibernate.format_sql=true

# API properties
server.servlet.context-path=/api
server.port=8080

# AWS properties
aws.accessKeyId=
aws.secretKey=
